<div class="jumbotron">
  <h1>Welcome to the map game</h1>
  <p>You can sign in to play the game and learn more about NYC zip codes by winning features, or check out features by zip code to learn more about your hood!</p>
</div>

<div class="button-row">
    <div class="button"><%= link_to 'Sign Up', new_user_path %></div>
 
  
   <div class="button"><%= link_to 'See zip codes', game_zips_path, @game_zips %></div>
  </div>

