<div class="game">
    Hi <%= @user.name %>, Welcome to the Zip Game!
</div>




<div class="row">
  <div class="col-md-12" id="hi">
    <div class= button><%=link_to 'Play a game', new_user_game_path(@user.id) %></div>
  </div>
</div>
