<div class = "status">
  <%= items.class %>
  <% if items == 0 %>
    <%="You can buy community health centers" %>
  <% elsif items == 1 %>
    <%="Congrats! You bought community health centers!" %>
  <% else %>
    <%="This zip has no Community Health Centers" %>
  <%end %>
</div>
