<div class = "status">
  <%formatted_feature = feature.gsub(/_/, " ").titleize %>

  <% if items == 0 %>
    <%="You can buy  #{formatted_feature}" %>
  <% elsif items == 1 %>
    <%="Congrats! You bought #{formatted_feature}" %>
  <% else %>
    <%="This zip has no #{formatted_feature}" %>
  <%end %>
</div>



<!--items renders to a fixnum, don't know how to get the value out of that-->