<div class = "status">

  <% if items == 0 %>
    <%="You can buy  #{feature}" %>
  <% elsif items == 1 %>
    <%="Congrats! You bought #{feature}" %>
  <% else %>
    <%="This zip has no #{feature}" %>
  <%end %>
</div>



<!--items renders to a fixnum, don't know how to get the value out of that-->