  <label for="game_zip"><%=borough %></label>
  <select id="game_zip" type = "select" name="game_zip">
    <option value="" selected disabled>Please select a zipcode!</option>
  <% zips.each do |zip| %>
    <%zip = zip.to_s %>
      <option value="<%=zip%>"><%= zip %></option>
  <%end%>
  </select>