<h1>Questions</h1>
<p>Find me in app/views/games/edit.html.erb</p>
<div class="jumbotron">
  <div class="container">
    <h1>You will find the questions in a carousel here </h1>
  </div>
</div>

<%= render 'form' %>