<h2>Game_zip_id <%= @game.game_zip_id%></h2>
<h2>Game_id = <%= @game.id%></h2>
<h2>User_id is <%= @game.user_id%></h2>
<p></p>

<button>
  <%= link_to "Make some money!", edit_user_game_path(@game.id) %>
</button>
