<h2>Game_zip_id <%= @game.game_zip_id%></h2>
<h2>Game_id = <%= @game.id%></h2>
<h2>User_id is <%= @game.user_id%></h2>
<p>Find me in app/views/games/show.html.erb</p>
<p>
    <ol>
        <li><li>

    </ol>
<p>
