@import "/bootstrap3/css/bootstrap.min.css";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: #EFEAD6;
  background-image: url("assets/lower.jpg");
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}s

/* universal */

html {
  overflow-y: scroll;
}


button {
  font-weight: 800;
  padding: 10px;
  border-radius: 5px;
  background-color: #B7ED63;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: chartreuse;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: dodgerblue;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

//formatting for user controller
.not_purchasable {
  display: none;
}

.row{
  padding: 40px;
}

.col-4{
  margin: 80px;
  border: 5px solid black;
}

.card{
  border: 5px solid black;
  background-color: #E4E2C9;
  color: #441D25;
  border-radius: 7px;
  font-size: 1.5em;
}

.purchased{
  background-color: black;
  color: white;
}

.elements{
  background-color: #88aaaa;
  font-weight: bold;
}

li{
  font-size: 18px;
}


//cards in the show view in games
// .container {
//   position: relative;
//   -webkit-perspective: 1000;
//   -moz-perspective: 1000;
//   -ms-perspective: 1000;
//   -o-perspective: 1000
// }
// .card {
//   width: 500px;
//   height: 200px;
//   position: relative;
// }

// .elements {
//   position: absolute;
// }