.jumbotron{
  background-image: url('dumbo.jpg');
  color: #FF9900;
  text-shadow: 1px 1px red;
}

.jumbotron h1 {
  font-family: 'Seymour One', Arial;
}

.sidebar{
  display: inline-block;
  background-color: red;
}

.play {
  display: inline-block;
  width: 48%;
}

.gamezipindex{
  background-image: url('bridge.jpg');
 /* webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
  padding: 40px;
  opacity:0.7;
  filter:alpha(opacity=70)
}

.gamezipindex h3{
  font-family: 'Seymour One', Arial;
  color: #ff9900;
  text-shadow: 1px 1px #5B2120;

}

.gamezipindex a{
  color: #CC0000;
  font-weight: bold;
  text-shadow: 1px 1px #5B2120;
  
}

