<h1> Listings of NYC Zip Codes, search for your feature!</h1>

  <label for="game_zip">Zip codes:</label>
  <select id="game_zip" type = "select" name="game_zip">
    <% GameZip::NYCZIPS.each do |zip| %>
     <option value="<%=zip%>"><%=zip%></option>
    <%end%>
  </select>
  <br/>
  <button type="submit" value="results">New Game!</button>
  </form>


  
