<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Mapsy, Inc.</a>
    by Sean, Sterling, Ariel and Lavoisier
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">Holler at us</a></li>
    </ul>
  </nav>
</footer>