<div class="navbar navbar-fixed-bottom">
  <footer class="footer">
    <small>
      <a href="http://railstutorial.org/">Mapsy, Inc.</a>
      by Sterling, Ariel, Lavoisier, and Sean
    </small>
  </footer>
</div>